header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 34px;
    margin-bottom: 95px;

    h1 {
        font-size: 64px;
        letter-spacing: 10px;
        line-height: 10px;
        width: 460px;
        height: 61px;
        text-decoration: none;
    }
}

@media (max-width:800px) {
    header {
        padding: 10px 0 0 0;
        display: flex;
        margin: 30px 0 10px 0;
        align-items: flex-start;

        h1 {

            margin: 10px;
            position: absolute;
            font-size: 50px;
            width: 365px;
        }
    }

}